@use '../../styles/' as *;

:root {
    --primary: #edd7ac;
    --font: #9c5025;
    --common: #c28e52;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
}

body {
    font-family: $font-family-montserrat;
    height: 100%;
    text-rendering: optimizeSpeed;
}

a[href] {
    color: var(--text-color);
    text-decoration: none;
    color: unset !important;
}
