@use '../../../../../styles/' as *;

.sidebar {
    @include flex(start, center, unset);
    height: auto;
    width: 3vw;
    background-color: var(--primary);

    .btn-category {
        background-color: transparent;
        border: 0px;
    }
}
