@use '../../../styles/' as *;

.wapper-detail {
    display: flex;
    width: 100%;
    height: 100vh;
    background-image: url('https://i.pinimg.com/736x/9d/c8/51/9dc8516895c763db4cc6594ee15f84d8.jpg');
    background-size: 100%;
    background-repeat: no-repeat;

    .title {
        font-size: 30px;
        font-weight: 700;
        color: var(--font);
        margin-bottom: 30px;
    }

    .inner-detail {
        @include flex(start, space-around, unset);

        height: 100%;
        width: 1350px;
        margin-top: 50px;

        .content-detail {
            height: 80%;
            width: 65%;

            .info-detail {
                @include flex(start, center, column);
                background-color: var(--common);
                border-radius: 10px;

                img {
                    margin-left: 50px;
                    margin-top: 30px;
                    box-sizing: border-box;
                    width: 150px;
                    height: 150px;
                    left: 489px;
                    top: 251px;
                    border: 1px solid #000000;
                    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                    border-radius: 100px;
                }

                .body-detail {
                    width: 100%;
                    height: auto;
                    margin-top: 30px;
                    color: #fff;
                    background-color: var(--common);
                    border-radius: 10px;
                    padding: 20px;

                    .table {
                        height: 100%;
                        width: 100%;
                        text-align: center;
                        padding-bottom: 30px;
                        padding-left: 50px;
                        display: flex;
                    }

                    .table thead {
                        width: 150px;
                        height: 35px;
                        left: 493px;
                        top: 654px;

                        font-style: normal;
                        font-weight: 700;
                        font-size: 24px;
                        line-height: 35px;
                        /* identical to box height */
                        text-align: center;
                        letter-spacing: -0.3px;

                        color: rgba(255, 255, 255, 0.35);
                    }

                    .table-tr {
                        width: 80px;
                        height: 35px;
                        left: 546px;
                        top: 426px;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 24px;
                        line-height: 35px;
                        /* identical to box height */
                        text-align: center;
                        letter-spacing: -0.3px;

                        color: rgba(255, 255, 255, 0.8);
                    }
                }
            }
        }

        .title-detail {
            width: 30%;
            height: 80%;
            text-align: center;

            .nav_title {
                // background-color: var(--common);
                color: var(--font);
            }

            .selected {
                background-color: var(--common);
                border: 1px solid transparent;
                border-radius: 4px;
                font-size: 14px;
                line-height: 20px;
                min-height: 44px;
                padding: 0 10px;
                margin-top: 20px;
                padding-top: 10px;
                color: #fff;

                .title-content {
                    font-size: 1.5rem;
                }
            }

            .unselected {
                border: 1px solid transparent;
                border-radius: 4px;
                font-size: 14px;
                line-height: 20px;
                min-height: 44px;
                padding: 0 10px;
                margin-top: 20px;
                padding-top: 10px;

                .title-content {
                    font-size: 1.5rem;
                }
            }
        }
    }
}

.btn-update {
    color: var(--font);
}
