@use '../../../../styles/' as *;

.wapper {
    @include flex(center, unset, column);
    background-color: #f6f6fb;
    .container {
        width: 100%;
        display: flex;
        .content {
            flex: 1;
            // padding-bottom: 50px;
        }
    }
}
