@use '../../styles/' as *;

.wapper {
    // @include flex(center, center, unset);
    width: 100%;
    height: auto;
    min-height: 666px;
    // background-image: url('https://i.pinimg.com/736x/9d/c8/51/9dc8516895c763db4cc6594ee15f84d8.jpg');
    background-size: 100%;
    background-repeat: no-repeat;

    .inner {
        @include flex(start, space-around, unset);

        height: 100%;
        width: 1150px;
        margin-top: 50px;

        .content {
            height: 80%;
            width: 90%;

            .title {
                display: flex;
                .title-post {
                    font-size: 22px;
                    font-weight: 700;
                    color: var(--font);
                }

                .title-date {
                    font-size: 14px;
                    font-weight: 500;
                    color: #ccc;
                    margin-top: 8px;
                    margin-left: 10px;
                }
            }

            .poster {
                @include flex(start, center, column);
                background-color: var(--common);
                border-radius: 10px;
                cursor: pointer;

                img {
                    width: 100%;
                    height: 400px;
                }

                .details {
                    color: #fff;

                    padding: 16px;

                    span {
                        font-size: 16px;
                        font-weight: 700;
                    }

                    p {
                        color: #ccc;
                        font-size: 18px;
                    }
                }
            }

            .detail-post {
                font-size: 18px;
                font-weight: 500;
                color: var(--font);
                margin-top: 15px;
            }

            .dropdown {
                position: relative;
                text-align: end;
            }

            .dropdown-menu {
                top: 0%;
                right: 0%;
                width: 100vw;
                height: 100vh;
                background-color: rgba(0, 0, 0, 0.5);
                position: fixed;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 9;

                .quiz {
                    background-color: #fff;
                    width: 700px;
                    height: 350px;
                    margin-left: 400px;
                    margin-top: 150px;
                    border-radius: 50px;

                    .title-quiz {
                        width: 700px;
                        height: 36px;
                        font-weight: 500;
                        font-size: 25px;
                        padding-top: 30px;
                        text-align: center;

                        color: #9c5025;
                    }

                    .establish-quiz {
                        width: 700px;
                        height: 58px;
                        font-weight: 700;
                        font-size: 40px;
                        padding-top: 30px;
                        text-align: center;

                        color: #9c5025;
                    }

                    .number-quiz {
                        width: 700px;
                        height: 36px;
                        font-weight: 700;
                        font-size: 25px;
                        padding-top: 50px;
                        text-align: center;

                        color: #9c5025;
                    }

                    .btn-quiz {
                        width: 700px;
                        margin-top: 70px;

                        .btn-quiz10 {
                            background-color: var(--common);
                            border-radius: 12px;
                            width: 200px;
                            height: 80px;
                            text-align: center;
                            font-size: 20px;
                            color: #fff;
                            margin-right: 150px;
                            cursor: pointer;
                        }

                        .btn-quiz20 {
                            background-color: var(--common);
                            border-radius: 12px;
                            width: 200px;
                            height: 80px;
                            text-align: center;
                            font-size: 20px;
                            color: #fff;
                            margin-right: 70px;
                            cursor: pointer;
                        }
                    }
                }
            }

            .dropdown:hover .dropdown-menu {
                display: block;
            }

            .dropdown-item {
                clear: both;
                width: 100%;
                padding: 0.25rem 1.5rem;
                text-align: inherit;
                white-space: nowrap;
            }

            .dropdown-item:checked {
                background-color: #f8f9fa;
            }

            .dropdown .dropdown-menu .dropdown-item {
                padding-left: 2rem;
            }

            .btn {
                width: 50px;
                height: 50px;
                border-radius: 10px;
                background-color: var(--common);
                color: #fff;
            }
        }
    }
}

.postmeta {
    background-color: #f9f9f9;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    height: auto;
    border: 2px solid #9c5025;
    .postmeta-title {
        font-size: 30px;
        color: var(--font);
        font-weight: 700;
        width: fit-content;
    }
}

.postmeta-child {
    margin-top: 10px;
    p {
        font-size: 18px;
        margin-bottom: 5px;
        cursor: pointer;
    }

    .postmeta-keys {
        font-size: 20px;
        font-weight: 500;
    }
}

.postmeta-contents {
    padding: 10px;
    margin-top: 10px;
}

.list-event {
    display: flex;
    background-color: var(--common);
    border-radius: 10px;
    margin-top: 75px;
    width: 900px;
    color: #fff;

    img {
        width: 250px;
        border-radius: 10px;
    }

    .details-event {
        color: #fff;

        padding: 16px;

        span {
            font-size: 24px;
            font-weight: 700;
        }

        p {
            color: #ccc;
            font-size: 18px;
            padding-top: 10px;
        }
    }
}

.btn-viewpost {
    margin-top: 10px;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
}
