.Background-Top {
    max-width: 100%;
    min-height: 300px;
    background: #b26000;
    position: relative;
}
.Background-Bot {
    max-width: 100%;
    min-height: 445px;
    background: #d9d9d9;
    opacity: 0.2;
}

.Logo {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
}

.logo-img {
    width: 100px;
    height: auto;
}

.Title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
    font-weight: 600;
}

.wrap-form {
    background-color: #fff;
    border-radius: 20px;
    width: 670px;
    height: auto;
    padding: 34px 40px 40px 40px;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 999;
}

.form-title-text {
    padding: 0;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 34px;
}

.wrap-form-body {
    display: flex;
    -webkit-box-align: start;
    align-items: flex-start;
    margin-top: 34px;
}

.social {
    position: relative;
    overflow: hidden;
    max-width: 280px;
    width: 100%;
    margin-right: 14px;

    .social-description {
        color: #707070;
        margin-bottom: 18px;
        font-size: 14px;
    }

    .social-items {
        display: flex;
        flex-direction: column;

        .social-item {
            border-radius: 10px !important;
            border: 2px solid !important;
            width: 100% !important;
            height: 100% !important;
            padding: 8px 16px !important;
            letter-spacing: normal !important;
            -webkit-box-pack: start !important;
            -ms-flex-pack: start !important;
            justify-content: flex-start !important;
            text-transform: unset !important;
            background-color: #fff !important;
            margin-bottom: 12px !important;
            min-width: 64px;
        }
        .social-item.google {
            color: #fa5d5d !important;
        }

        .google:hover {
            background-color: #fa5d5d !important;
            color: #fff !important;
        }

        .social-item.facebook {
            color: #1877f2 !important;
        }

        .facebook:hover {
            background-color: #1877f2 !important;
            color: #fff !important;
        }
    }
}

.btn-content {
    align-items: center;
    color: inherit;
    display: flex;
    flex: 1 0 auto;
    justify-content: inherit;
    line-height: normal;
    position: relative;
    cursor: pointer;

    .social-item-name {
        line-height: 19px;
        font-size: 16px;
        margin-left: 14px !important;
    }
}

.network {
    flex: 1 1 auto;

    .account-text {
        color: #707070;
        margin-bottom: 18px !important;
        margin-left: 16px !important;
        font-size: 14px;
    }

    .form-login {
        border-left: 2px solid #e0e0e0;
        padding-left: 14px;
        display: flex;
        flex-direction: column;
        margin-bottom: 16px;
    }

    .v-input {
        align-items: flex-start;
        display: flex;
        flex: 1 1 auto;
        font-size: 16px;
        letter-spacing: normal;
        max-width: 100%;
        text-align: left;

        .v-input__control {
            display: flex;
            flex-direction: column;
            height: auto;
            flex-grow: 1;
            flex-wrap: wrap;
            min-width: 0;
            width: 100%;
        }

        .v-input__control input {
            padding: 24px 38px 24px 12px !important;
            background-color: #f5f5f5;
            border: 2px solid #f5f5f5;
            height: 52px;
            border-radius: 10px;
            box-shadow: none;
            outline: none;
        }

        .v-input__control.password {
            position: relative;
        }

        .v-input__append-inner {
            margin-left: auto;
            padding-left: 4px;
            align-self: flex-start;
            display: inline-flex;
            margin-top: 4px;
            line-height: 1;
            user-select: none;
            padding-top: 12px;
            position: absolute;
            right: 8px;
            color: unset !important;
            background-color: unset !important;
            caret-color: unset !important;
        }

        .v-input__control:hover {
            border: 2px solid #ff8a00;
            border-radius: 10px;
        }
    }

    .v-application {
        margin-bottom: 24px !important;
    }
}

.forgot-password {
    text-align: right;
    margin-bottom: 16px;

    .forgot-password-text {
        color: #ff8a00;
        cursor: pointer;
    }
    .forgot-password-text:hover {
        color: #de6b00;
    }
}

.btn-submit {
    height: 36px;
    min-width: 64px;
    padding: 0 16px;
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    justify-content: center;
    outline: 0;
    position: relative;
    text-decoration: none;
    text-indent: 0.0892857143em;
    text-transform: uppercase;
    transition-duration: 0.28s;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    letter-spacing: unset !important;
    font-weight: 500 !important;

    border: none;
    border-radius: 10px !important;
    background-color: #ff8a00;
    color: #fff !important;
    font-size: 16px !important;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: #c15d00;
}

.suggestion {
    color: #000;
    margin-right: 18px;
    text-align: center;
    font-size: 15px;

    .suggestion-action {
        color: #ff8a00;
        text-decoration: underline;
        font-weight: 400;
        cursor: pointer;
    }
}

.success-message {
    color: green;
    margin: 10px 0;
}

.date-picker {
    width: 100%;
    border: none;
}

.password-error {
    color: red;
    padding-top: 10px;
}
