@use '../../../styles/' as *;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header,
.footer {
    height: 60px;
    width: 100%;
    // background-color: red;
}

.question {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: beige;
    border-radius: 13px;
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex: 1;
    // min-height: 483px;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
