@use '../../../styles/' as *;


.CreateAnswer {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: aliceblue;
}

.Answer {
    background-color: white;
    margin-top: 50px;
    margin-left: 250px;
    width: 700px;
    height: 500px;
    border-radius: 13px;

    button {
        width: 200px;
        height: 50px;
        font-size: 30px;
        border-radius: 13px;
        margin-top: 30px;
        margin-left: 250px;
    }
}

.title {
    font-size: 50px;
    text-align: center;
    color: var(--common);
}

.QuestionID {
    display: flex;
    padding-top: 50px;

    label {
        font-size: 40px;
        padding-right: 30px;
        padding-left: 80px;
    }
    
    input {
        width: 300px;
        height: 50px;
        border-radius: 13px;
    }
}

.AnswerText {
    display: flex;
    padding-top: 50px;

    label {
        font-size: 40px;
        padding-right: 30px;
        padding-left: 80px;
    }
    
    input {
        width: 300px;
        height: 50px;
        border-radius: 13px;
        font-size: 20px;
    }
}

.IsCorrect {
    display: flex;
    padding-top: 50px;

    label {
        font-size: 40px;
        padding-right: 30px;
        padding-left: 80px;
    }
    
    input {
        width: 300px;
        height: 50px;
        border-radius: 13px;
    }
}